version: '3.8'
services:
  kafka:
    container_name: kafka-t2
    image: bashj79/kafka-kraft
    ports:
      - "9092:9092"
    volumes:
      - kafka_data:/apt/kafka/kafka-logs

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    command: start-dev
    volumes:
      - .:/apt/jboss/keycloak/imports

  mongodb:
    container_name: turkcell2-filterdb
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db/
  mongodb-invoice:
    container_name: turkcell2-invoicedb
    image: mongo
    ports:
      - "27018:27017"
    volumes:
      - mongodb_data2:/data/db
  inventorydb:
    container_name: inventorydb-t2
    image: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=12345
      - MYSQL_TCP_PORT=3306
      - VIRTUAL_PORT=3306
    volumes:
      - inventorydb:/data/db

volumes:
  kafka_data:
  mongodb_data:
  mongodb_data2:
  inventorydb: